.header {
	height: 80px;
	padding: 0 30px;
}

.header, .header__right, .header__location, .header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav .header__link {
	margin-right: 15px;
}

.header__link {
	color: white
}

.header__link.-blue {
	color: var(--variable-blue);
}

.header__link.-kurs {
	display: none;
}

@media screen and (max-width: 1023px) {
	.header__nav {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.header {
		padding: 0 15px;
	}

	.header__link.-kurs {
		display: block;
	}

	.header__link.-blue{
		display: none;
	}
}