.header__burger, .header__stick, .header__triangle {
	display: none;
}

@media screen and (max-width: 1023px) {
	.header__burger, .header__stick, .header__triangle{
		display: block;
	}
	
	.header__right, .header__location {
		width: 50%;
	}

	.header__burger {
		height: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	.header__stick {
		width: 30px;
		height: 3px;
		background-color: white;
	}

	.header__stick.-m {
		width: 15px;
	}
}