.result {
	height: 450px;
	background-image: url("../img/bgResult.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 50px;
}

.result__content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.result__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.result__title {
	width: 100%;
	text-align: left;
	margin-bottom: 40px;
	color: white;
}

@media screen and (max-width: 1023px) {
	.result__info{
		flex-direction: column;}
} 